nav {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
}

.logo {
    display: flex;
    align-items: center;
}
nav > ul {
    display: flex;
    
    
}
nav > ul > li {
    margin-right: 90px;
    justify-content: space-around;
    list-style: none;
}
.banner {
    display: flex;
    margin-top: 20px;
}
.banner-img {
    position: relative;   
}
.banner-text {
bottom: 150px;
position: absolute;
padding-left: 40px;
}
.button {
    align-items: center;

}
.button_1 {
    /* background-color: ; */
    width: 80px;
    height: 40px;
    justify-content: center;
    margin-left: 22px;
    border-radius: 30px;
}
.button_2 {
    /* background-color: ; */
    width: 100px;
    height: 40px;
    margin-left: 15px;
    justify-content: center;
    border-radius: 30px;
}
section {
    text-align: center;
}
.videos > ul > li{
    list-style: none;

}
.videos {
    display: flex;
    justify-content:space-around;
    margin-right: 50px;
}
.online-videos {
    display: flex;
    gap:0px;
    width: 1400px;
    margin-bottom: 20px;
}

.caption {

    width: 200px;
    height: 60px;
}
#section-2 {
    display: flex;
    justify-content: space-between;
}
.section-2-text {
width: 300px;
height: 180px;
/* border: 2px solid salmon; */
text-align: right;
margin-left: 239px;
padding-bottom: 20px;

}
.img-2 {
    padding: 1px;
    width: 301px;
    border-radius: 3px;
}
.image-part-1 li {
    list-style: none;
    position: relative;
}
.image-part-2 li {
    list-style: none;
}

.img-2 {
    bottom:230px;
    right: 200px;
} 

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.grid-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-span: 5;
}
.icons div button {
    width: 200px;
    height: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}
.icons .hover {
    &:hover {
        border: 1px solid #FF42A5;
        border-radius: 5px;

    }
}
.logo-2 {
    display: flex;
    align-items: center;
    justify-content: center;

}
footer {
    background-color: black;
    height: 636px ;
    width: 100%;
    color: white;
    padding-top: 50px;
}
.foot-list-items {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 600px;
    margin-left: 300px;

}
.foot-list .foot-list-items > li {
    list-style: none;
}
.foot-logo > li{
    list-style: none;
}
.foot-logo {
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;
    margin-left: 400px;
  }
  .foot-logo li button img {
    width:20px;
    height: 20px;
  }
  .foot-list-2 {
    display: flex;
    width: 800px;
    margin-left: 250px;
    margin-top: 100px;
    justify-content: space-around;
  }

  .foot-list-2 > li {
    list-style: none;

  }
  address {
    margin-left: 450px;
    margin-top: 50px;
  }

  @media screen and (max-width: 576px) {
 .logo {display: grid;}
 .banner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
 }
 .online-videos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
 }
 .caption {
    padding-left: 30px;
    width: 250px;
 }
 .videos {
    padding-left: 50px;
 }
 .section-2 {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display:inline-flex
 }
 .image-part-1 {
    
 }
 .section-2-text {
    width: 200px;
    height: 180px;
    text-align:center;
    margin-left: 50px;
    padding-bottom: 20px;
}
.grid-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-span:2px;
    margin-top: 20px;
}
.grid-4 {
    display: none;
}
footer {
    width: 100%;
    justify-content: left;
}
.foot-list-items {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
    row-gap: 30px;
}

.foot-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    row-gap: 30px;
    margin-top: 50px;
}
.foot-list-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    gap: 50px;
    margin-right: 50px;
    justify-content: space-evenly;

}
address {
    margin-left: 100px;
}


  }








