
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;

}


nav {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-around;
    align-items: center;
    margin-left: 24px;
}
.list-item .list-item-text { 
    align-items: center;
    display: flex;
    list-style: none;
    
}
.list-item-text {
   width: 400px;
   justify-content: space-around;
   /* margin-right: 20px; */

}
.list-item .aline-logo {
    display: flex;
    list-style: none;
    align-items: center;
    
}
.aline-logo {
    width: 300px;
    /* background-color:lightslategray; */
    justify-content: space-around;
    padding-left: 0px;
}
.text-color-1 {
    color: #FF42A5;
    font-size: 45px;
    font-weight: 700;
}

.list-item {
    display: flex;
    /* background-color: aqua; */
    width: 500px;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

.banner {
    display: flex;
    margin-top: 20px;
}
.banner-img {
    position: relative; 

}
.banner-text {
bottom: 150px;
position: absolute;
padding-left: 40px;
}
/* /* .banner-img{
    width: 40%;
    height: auto; */
}
.banner-text-color { */
    color: #F948B2;
    font-size: 95px;
    font-weight: 800;
}
.button {
    align-items: center;

}
.button_1 {
    background-color:#FF42A5;
    width: 80px;
    height: 40px;
    justify-content: center;
    margin-left: 22px;
    border-radius: 30px;
    border: none;
    color:white;
}
.button_2 {
    background-color: #FF42A5;
    width: 100px;
    height: 40px;
    margin-left: 15px;
    justify-content: center;
    border-radius: 30px;
    border: none;
    color:white;
}
section {
    text-align: center;
}
.text-color-1 {
    color:black;
    font-size: 48px;
    font-weight: 700;
}

.text-color-2 {
    color: #F948B2;
    font-size: 48px;
    font-weight: 700;
}
.videos > ul > li{
    list-style: none;

}
.videos {
    display: flex;
    justify-content:space-around;
    margin-right: 50px;
}
.online-videos {
    display: flex;
    gap:0px;
    width: 1400px;
    margin-bottom: 20px;
}

.caption {

    width: 200px;
    height: 60px;
}
#section-2 {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.section-2-text {
width: 400px;
height: 180px;
text-align: right;
margin-left: 239px;
padding-bottom: 20px;

}
.section-2-text-color{
    color: #F948B2;
    font-size: 48px;
    font-weight: 700;
}
.img-2 {
    padding: 1px;
    width: 301px;
    bottom:230px;
    right: 200px;
}
.image-part-1 li {
    list-style: none;
    position: relative;
}
.image-part-2 li {
    list-style: none;
    width: 40%;
    height: auto;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.grid-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-span: 5;
}
.icons div button {
    width: 200px;
    height: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}
.icons .hover {
    &:hover {
        border: 1px solid #FF42A5;
        border-radius: 5px;
        color: #FF42A5;



    }
}
.logo-2 {
    display: flex;
    align-items: center;
    justify-content: center;

}
footer {
    background-color: black;
    height: 636px ;
    width: 100%;
    color: white;
    padding-top: 50px;
}
.foot-list-items {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 600px;
    margin-left: 300px;

}
.foot-list .foot-list-items > li {
    list-style: none;
}
.foot-logo > li{
    list-style: none;
}
.foot-logo {
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;
    margin-left: 400px;
  }
  .foot-logo li button img {
    width:20px;
    height: 20px;
  }
  .foot-list-2 {
    display: flex;
    width: 800px;
    margin-left: 250px;
    margin-top: 100px;
    justify-content: space-around;
  }

  .foot-list-2 > li {
    list-style: none;

  }
  address {
    margin-left: 450px;
    margin-top: 50px;
  }

  @media screen and (max-width: 576px) {
 .logo {justify-content: center;}

 nav {display: grid;
     grid-template-columns: repeat(1, 1fr);
    }

 .banner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width:300px;
 }
 .banner-text {
    bottom: 20px;
 }
 .banner-img > img {
    width: 400px;

 }
 .online-videos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
 }
 .caption {
    padding-left: 30px;
    width: 250px;
 }
 .videos {
    padding-left: 50px;
 }
 #section-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 20px;
  width:50%;
  height: auto;
  
 }

 .image-part-1 .img-1 {
    width: 500px;
 }
 .img-1 {
    /* width: 40%;
    height: auto; */
    padding-top: 50px;

 }
 .img-2 {
    right: 20px;
    /* width: 40%;
    height: auto; */
 }
 
 .section-2-text {
    text-align:center;
    margin-left: 100px;
    justify-content: center;
}
.icons {
  margin-left: 50px;
  padding-bottom: 100px;


}
.grid-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-span:2px;
    margin-top: 20px;
}
.grid-4 {
    display: none;
}
footer {
    justify-content: center;
}
.foot-list-items {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    row-gap: 30px;
}

.foot-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
    row-gap: 30px;
    margin-top: 50px;
}
.foot-list-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   margin-top: 100px;
   justify-content: center;

}
address {
   
}

 }







